*{
    margin: 0;
    padding: 0;
}
.universal{
    width: 100vw;
    height: 100vh;
    background-color: royalblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 600px;
   height: 250px;
    background-color: white;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
   gap: 20px;
   border-radius: 10px;
}
.base{
    width: 90%;
    height: 10px;
    background: #dadada;
    border-radius: 5px;
}
.one{
    display: flex;
    position: absolute;
    top: 37px;
    width: 100%;
}
.progress,.htm{
    width: 80%;
    height: 10px;
    background: royalblue;
    border-radius: 5px;
    /* position: absolute; */
   
}
.text{
    position: absolute;
    top: -15px;
    left: 80%;
    background-color: rgba(65, 105, 225, 0.705);
    font-weight: 800;
    border-radius: 5px;
    font-size: 12px;
    height: 15px;
    padding: 1px;
    box-sizing: border-box;
}
.two{
    display: flex;
    position: absolute;
    top: 94px;
    width: 100%;
}
.two .text{
    left: 70%;
}

.cs{
    width: 70%;
    height: 10px;
    background: royalblue;
    border-radius: 5px;
    /* position: absolute; */
   
}
.three .text{
left: 50%;
}
.three{
    position: absolute;
    display: flex;
    top: 151px;
    width: 100%;
}
.ja{
    width: 50%;
    height: 10px;
    background: royalblue;
    border-radius: 5px;
}
.no{
    width: 30%;
    height: 10px;
    background: royalblue;
    border-radius: 5px;
}
.four .text{
    left: 30%;
}
.four{
    position: absolute;
    display: flex;
    top: 208px;
    width: 100%;
}